# My Jupyter Notebook on IBM Watson Studio

**Dario Sammaruga**

Data scientist and Python Developer

*I am interested in data science because I'm a courious person and I like multi-disciplinary approach to solve problems and discover new insights from data mining and machine learning*

### The following code represent a way to append rows iteratively to a pandas DataFrame. We have 3 lists of same length and we want to read sequencially the n-th element of each list and store it in a temporary dictionary "row_dict". For each iteration "row_dict" will be saved in a temporary DataFrame "row_df" composed of just one row. After this step, "row_df" will be concatenated to the final dataframe "df".

In [6]:
import pandas as pd

names = ["John", "Mark", "Alice", "Daisy"]
jobs = ["painter", "teacher", "doctor", "engineer"]
ages = [19, 27, 29, 24]

df = pd.DataFrame()

for name, job, age in zip(names, jobs, ages):
    row_dict = dict()
    row_dict = {"name": [name], 
                "job": [job], 
                "age": [age]}
    row_df = pd.DataFrame().from_dict(row_dict)
    df = pd.concat([df, row_df])

In [7]:
df

    name       job  age
0   John   painter   19
0   Mark   teacher   27
0  Alice    doctor   29
0  Daisy  engineer   24